*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;

}


.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    margin: 0;
    border: 0;
    padding: 10px 25px;
    background: #ebfffc;
    border-radius: 30px;
    outline: 0;
    height: 60px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}

.search button{
    border: 0;
    background: #ebfffc;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 18px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -10px;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error p{
    margin-top: 10px;
    font-size: 20px;
}

.error{
    display: none;
}

@media only screen and (max-width:460px) {
    .search{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search button{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 340px)
{
    .search button{
        width: 40px;
        height: 40px;
        margin-top: 30px;
    }

    .search input{
        margin: 0px 0px -20px;
    }

    .weather-icon{
        width: 110px;
    }

    .weather .city{
        font-size: 35px;
        margin-top: 10px;
    }

    .weather .temp{
        font-size: 35px;
        margin-top: 10px;
    }

    .details{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .col p{
        font-size: 15px;
    }

    div p:nth-child(2) {
        font-size: 12px;
    }

    .col{
        margin: 0 15px;
    }
}